[Unit]
Description=Wossa
After=network.target

[Service]
User=wossa
WorkingDirectory=/opt/wossa
ExecStart=/opt/wossa/wossa -c ./data
Restart=always
RestartSec=5
StartLimitIntervalSec=0
[Install]
WantedBy=multi-user.target
